nav {
    border: solid 2px red;
    display: flex;
    justify-content: center;
}

nav a {
    text-decoration: none;
    border: solid 1px blue;
    margin: 0 1rem
}

li {
    list-style: none;
}

form {
    margin-top: 3rem;
    border: 1px solid green;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

form > input {
    width: 25vw;
}