@import url('https://fonts.googleapis.com/css2?family=Caveat&family=Inconsolata:wght@300&display=swap');

:root{
    font-family: Inconsolata;
    background-image: url('../public/books.jpeg');
}

nav {
    /* border: solid 2px red; */
    display: flex;
    justify-content: space-around
}

nav a {
    font-family: Caveat;
    text-decoration: none;
    /* border: solid 1px blue; */
    margin: 0;
    color: white;
    font-size: 1.5rem;
}

ul {
    /* border: solid 1px gray; */
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

li {
    background-color: #F25C05;
    border: 1px solid black;
    border-radius: 1rem;
    list-style: none;
    text-align: center;
    margin: 1rem 0;
    padding: 0.5rem 1rem;
    font-size: 1.5rem;
    
}

li a {
    text-decoration: none;
    color: white;
}

form {
    margin-top: 3rem;
    /* border: 1px solid green; */
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

form > input {
    width: 25vw;
    margin: .25rem;
}
.story{
    /* border: 1px solid turquoise; */
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

h1 {
    color: white;
    font-size: 4rem;
    /* border: solid 1px purple; */
    text-align: center;
    font-family: Caveat;
}

h4 {
    background-color: rgba(0, 0, 0, 0.617);
    color: white;
    /* border: solid 1px orange; */
    width: 50vw;
    font-size: 1.5rem;
    padding: 1rem;
}

.delete-btn {
    font-size: 1rem;
    border: 0;
    background-color: rgba(0, 0, 0, 0);
    color: white;
    margin-left: 1.5rem;
    cursor: pointer;
}

.btn {
    font-family: Inconsolata;
    color: white;
    background-color: #F25C05;
    border: 1px solid black;
    border-radius: 1rem;
    list-style: none;
    text-align: center;
    margin: 0.25rem 0;
    padding: 0.5rem 1rem;
    font-size: 1rem;
    cursor: pointer;
}

.btn:hover{
    background-color: #D91C0B;
}

li:hover{
    background-color: #D91C0B;
}